@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Fraunces:opsz,wght@9..144,700&family=Karla:wght@400;700&family=Mochiy+Pop+P+One&family=Montserrat:wght@500;700&family=Poppins:wght@200;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-align: center;
    width: 100%;
    margin: 60px auto;
    padding: 0 30px;
    color: #4c4e61;
}

header p {
    font-size: 1.5rem;
    font-weight: 200;
}

header p:last-child {
    font-size: 1.1rem;
    opacity: 0.6;
    font-weight: 400;
}

main {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 10px 10px #dfe6ee;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    border-radius: 5px;
}

section img {
    align-self: flex-end;
    width: 100%;
    max-width: 60px;
    margin-top: 40px;
}

.middle {
    display: flex;
    flex-direction: column;
    gap:2rem;
}


section:nth-child(1) {
    border-top: 5px solid  #45d3d3;
}

section:nth-child(3) {
    border-top: 5px solid #549ef2; 
}

.middle section:nth-child(1) {
    border-top: 5px solid #ea5353;
}
.middle section:nth-child(2) {
    border-top: 5px solid #fcaf4a;
}

@media only screen and (min-width: 760px) {
    main {
        flex-direction: row;
        width: 100%;
        max-width: 80%;
        align-items: center;
        
    }
}